In [3]:
# dict
my_dict = {
    "name":"홍길동",
    "age":40
}
print(type(my_dict))
name = my_dict['name']
print(name)

<class 'dict'>
홍길동

In [4]:
for k,v in my_dict.items():
    print(k,v)

name 홍길동
age 40

In [7]:
#10 + 20 = 30
def add(n1,n2):
    return n1 + n2

In [9]:
add(10,20)

30

In [16]:
def my_url(kind):
    #url = "https://openapi.naver.com/v1/search/{}.json".format(kind)
    url = f"https://openapi.naver.com/v1/search/{kind}.json"
    print(url)

In [1]:
my_url('news')
my_url('movie')
my_url('book')

NameError: name 'my_url' is not defined

In [3]:
# split() 함수
my_str = 'a/b/c'
result = my_str.split('/')
print(type(result), result)

<class 'list'> ['a', 'b', 'c']

In [8]:
lyric_str = '''
Yesterday all my troubles seemed so far away.
Now it looks as though they're here to stay.
Oh, I believe in yesterday.
'''

result = lyric_str.split('\n')
print(result)

['', 'Yesterday all my troubles seemed so far away.', "Now it looks as though they're here to stay.", 'Oh, I believe in yesterday.', '']

In [10]:
# list comprehension (포괄적인 리스트)
# 적용전 before
numbers = [1, 2, 3, 4]
result = []

for value in numbers:
    result.append(value ** 2)
result

[1, 4, 9, 16]

In [12]:
# 적용 후 after
result2 = [val ** 2 for val in numbers ]
result

[1, 4, 9, 16]

In [14]:
# 적용 전 list comprehension (포괄적인 리스트)
even_list = []
for val in range(20):
    if val % 2 == 0:
        print(val)
        even_list.append(val)

even_list

0
2
4
6
8
10
12
14
16
18

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [16]:
# 적용 후 list comprehension (포괄적인 리스트)
even_list2 = [val for val in range(20) if val % 2 == 0]
even_list2

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [4]:
song_list = []
for val in range(5):
    song_dict = {}
    song_dict['seq'] = val
    song_dict['title'] = 'Dynamite'
    song_list.append(song_dict)

song_list

[{'seq': 0, 'title': 'Dynamite'},
 {'seq': 1, 'title': 'Dynamite'},
 {'seq': 2, 'title': 'Dynamite'},
 {'seq': 3, 'title': 'Dynamite'},
 {'seq': 4, 'title': 'Dynamite'}]

In [14]:
import re

my_str = 'a\nb\rc\td' * 3
print(my_str)

# 정규표현식 패턴 객체 생성
regexp = re.compile(r'[\n\r\t]')
print(type(regexp), regexp)
# 패턴과 매칭되는 문자열 찾아서 다른 문자열로 치환
result = regexp.sub(" ", my_str)
result = result.replace(" ", "")
print(result)

a
c	da
c	da
c	d
<class 're.Pattern'> re.compile('[\\n\\r\\t]')
abcdabcdabcd

In [1]:
# tuple 형태로 여러개의 값을 반환하는 함수 선언
def swap(a, b):
    return (b, a)

In [2]:
n1, n2 = swap(10, 20)
print(n1)
print(n2)

20
10

In [3]:
my_tuple = (1, 2)
print(type(my_tuple))

my_tuple2 = (1, )
print(type(my_tuple2))

<class 'tuple'>
<class 'tuple'>

In [7]:
dt_list = ['정당', '선거구', '소속위원회']
dd_list = ['국민의힘', '강원 강릉시', '농림축산식품해양수산위원회']

print(zip(dt_list, dd_list))

for data in zip(dt_list, dd_list):
    print(data)

data_dict = dict(zip(dt_list, dd_list))

print(data_dict)

<zip object at 0x0000024B638CBB00>
('정당', '국민의힘')
('선거구', '강원 강릉시')
('소속위원회', '농림축산식품해양수산위원회')
{'정당': '국민의힘', '선거구': '강원 강릉시', '소속위원회': '농림축산식품해양수산위원회'}

In [1]:
temp = '재선(20대, 21대)'
print(temp[2:])
print(temp[:2])

(20대, 21대)
재선

In [3]:
from datetime import date

# 현재 날짜
today = date.today()
print(today.year, today.month, today.day)

2020 10 23

In [8]:
# 1960 6 4
# 1960 12 5
birth = date(1960, 12, 4)
print(birth)
print(birth.year)

1960-12-04
1960

In [9]:
(today.month, today.day) < (birth.month, birth.day)

True

In [11]:
birth = date(1960,6,4)
birth

datetime.date(1960, 6, 4)

In [12]:
# 생일이 지났으면 - 0 / 생일이 안지났으면 - 1
age = today.year - birth.year - ((today.month, today.day) < (birth.month, birth.day))
print(age)

60

In [23]:
from datetime import date

def calc_age(birth):
    today = date.today()
    print(today, birth)
    print('year ', today.year - birth.year)
    print('month day ', (today.month, today.day) < (birth.month, birth.day))
    age = (today.year - birth.year) - ((today.month, today.day) < (birth.month, birth.day))
    print(age)
    
    return age

In [26]:
calc_age(date(1992,12,4))

2020-10-23 1992-12-04
year  28
month day  True
27

27

In [27]:
calc_age(date(1992,6,4))

2020-10-23 1992-06-04
year  28
month day  False
28

28

In [1]:
my_list = [10, 20, 30, 40, 0, 90]
from itertools import count

for val in count(0):

SyntaxError: unexpected EOF while parsing (<ipython-input-1-b3f282223d34>, line 5)

In [6]:
def myFun(*args):
    for arg in args:
        print(arg)
        
myFun('Hello', 'Welcome', 'to', 'Geeks')

Hello
Welcome
to
Geeks

In [7]:
def myFun(**kwargs):
    print(type(kwargs), kwargs)
    for key, value in kwargs.items():
        print("%s == %s" % (key, value))
        
myFun(first="Geeks", mid='for', last='Geeks')

<class 'dict'> {'first': 'Geeks', 'mid': 'for', 'last': 'Geeks'}
first == Geeks
mid == for
last == Geeks

In [1]:
# 함수를 정의할 때 Lambda 식 형태 선언
add2 = lambda n1, n2 : n1 + n2

add2(10, 20)

30

In [2]:
myfunc = lambda mystr : mystr.replace(',', '')
myfunc('2222,444')

'2222444'

In [3]:
myfunc2 = lambda mystr : mystr[-5:]
myfunc2('2020-10-31')

'10-31'

In [5]:
import pandas as pd

series = pd.Series(['2020-10-31', '2020-10-29'])
series

0    2020-10-31
1    2020-10-29
dtype: object

In [6]:
series.map(lambda mystr : mystr[-5:])

0    10-31
1    10-29
dtype: object